body {
  background-color: #FAEBD7;
}

.center {
  width: 40%;
  border: 5px solid #696969;
  position: fixed;
  top: 30%;
  left: 30%;
  margin-top: -10px;
  margin-left: -50px;
  text-align: center;

}

.centerDiv {
  width: 40%;
  position: fixed;
  top: 20%;
  left: 25%;
  margin-top: -10px;
  margin-left: -40px;
  text-align: center;

}

.centerTable{
  top: 30%;
  left: 30%;
}

table, th, td {
  border: 1px solid black;
  top: 30%;
    left: 30%;
  margin-top: 50px;
  margin-left: 50px;
 border-spacing: 10px;
    border-collapse: separate;

}

/*
h2 {
  text-align: center;
}
*/

strong {
    font-weight: 700;
    background-color: yellow;
}

p {
    font-family: sans-serif;
}